# Horse Racing Dataset Cleaning

In [1]:
import pandas as pd
import numpy as np

#Supresses scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)

import warnings
warnings.filterwarnings('ignore')

print(pd.__version__)

1.4.2

## [Horse racing Kaggle dataset](https://www.kaggle.com/datasets/donw385/horses)

In [2]:
fields =  ['previous_margin',
             'position_again',
             'bf_odds',
             'bf_odds_two_mins_out',
             'vic_tote',
             'vic_tote_two_mins_out',
             'nsw_tote',
             'nsw_tote_two_mins_out',
             'nsw_odds',
             'betfair_slope',
             'vic_tote_slope',
             'nsw_tote_slope',
             'nsw_odds_slope',
             'venue_name',
             'date',
             'market_name',
             'race_number',
             'condition',
             'weather',
             'barrier',
             'blinkers',
             'emergency',
             'dfs_form_rating',
             'tech_form_rating',
             'total_rating_points',
             'handicap_weight',
             'penalty',
             'favourite_odds_win',
             'favourite_tote_win',
             'tip_pundit_win',
             'tip_rating_win',
             'tip_12_months_win',
             'tip_recent_win',
             'tip_distance_win',
             'tip_class_win',
             'tip_time_win',
             'tip_overall_win',
             'prize_money',
             'sex',
             'age',
             'jockey_sex',
             'form_comment_sentiment',
             'last_twenty_starts',
             'class_level',
             'field_strength',
             'days_since_last_run',
             'runs_since_spell',
             'overall_starts',
             'overall_wins',
             'overall_places',
             'track_starts',
             'track_wins',
             'track_places',
             'firm_starts',
             'firm_wins',
             'firm_places',
             'good_starts',
             'good_wins',
             'good_places',
             'dead_starts',
             'dead_wins',
             'dead_places',
             'slow_starts',
             'slow_wins',
             'slow_places',
             'soft_starts',
             'soft_wins',
             'soft_places',
             'heavy_starts',
             'heavy_wins',
             'heavy_places',
             'distance_starts',
             'distance_wins',
             'distance_places',
             'class_same_starts',
             'class_same_wins',
             'class_same_places',
             'class_stronger_starts',
             'class_stronger_wins',
             'class_stronger_places',
             'first_up_starts',
             'first_up_wins',
             'first_up_places',
             'second_up_starts',
             'second_up_wins',
             'second_up_places',
             'track_distance_starts',
             'track_distance_wins',
             'track_distance_places']

In [3]:
# Included in CleanedHorses.csv but not included in the final models
additional_fields = ['name', 'runner_name_uuid', 'sire', 'dam', 'jockey', 'trainer']

In [4]:
fields = fields + additional_fields

len(fields)

95

In [5]:
df = pd.read_csv('horses 2.csv',
                 usecols=fields, 
                 skipinitialspace=True, 
                 low_memory=False)

df.head()

,previous_margin,position_again,bf_odds,bf_odds_two_mins_out,vic_tote,vic_tote_two_mins_out,nsw_tote,nsw_tote_two_mins_out,nsw_odds,betfair_slope,...,class_stronger_places,first_up_starts,first_up_wins,first_up_places,second_up_starts,second_up_wins,second_up_places,track_distance_starts,track_distance_wins,track_distance_places
0,6.80,1.00,2.88,3.00,2.30,3.50,2.40,3.30,2.60,-0.00,...,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
1,20.80,2.00,15.00,18.00,11.20,11.70,12.00,12.30,11.00,-0.00,...,0.00,4.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00
2,NaN,3.00,95.00,100.00,46.40,37.10,40.40,35.00,51.00,0.21,...,0.00,2.00,0.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00
3,4.00,NaN,20.00,17.00,13.20,14.20,11.80,13.60,12.00,0.01,...,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,NaN,NaN,2.74,2.68,2.60,3.20,3.40,3.60,2.60,0.00,...,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## Feature info:

In [6]:
df.dtypes

previous_margin          float64
position_again           float64
bf_odds                  float64
bf_odds_two_mins_out     float64
vic_tote                 float64
                          ...
second_up_wins           float64
second_up_places         float64
track_distance_starts    float64
track_distance_wins      float64
track_distance_places    float64
Length: 95, dtype: object

In [7]:
df.isna().sum()

previous_margin           95908
position_again           172214
bf_odds                       0
bf_odds_two_mins_out        201
vic_tote                      0
                          ...
second_up_wins            27122
second_up_places          27122
track_distance_starts     27549
track_distance_wins       27549
track_distance_places     27549
Length: 95, dtype: int64

In [8]:
df.describe()

,previous_margin,position_again,bf_odds,bf_odds_two_mins_out,vic_tote,vic_tote_two_mins_out,nsw_tote,nsw_tote_two_mins_out,nsw_odds,betfair_slope,...,class_stronger_places,first_up_starts,first_up_wins,first_up_places,second_up_starts,second_up_wins,second_up_places,track_distance_starts,track_distance_wins,track_distance_places
count,145290.00,68984.00,241198.00,240997.00,241198.00,240997.00,241198.00,240997.00,241198.00,241136.00,...,213803.00,214148.00,214148.00,214148.00,214076.00,214076.00,214076.00,213649.00,213649.00,213649.00
mean,4.82,1.95,37.04,31.17,18.36,16.97,18.57,17.16,24.08,0.03,...,0.80,3.32,0.38,0.74,2.80,0.34,0.67,1.22,0.20,0.35
std,5.55,0.81,62.95,47.95,19.67,17.30,19.93,17.52,32.25,0.07,...,1.93,2.15,0.67,0.93,2.09,0.61,0.88,2.61,0.62,0.94
min,0.00,1.00,1.05,1.06,0.00,0.00,0.00,0.00,0.00,-0.96,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,1.20,1.00,7.00,6.80,6.30,6.40,6.20,6.30,6.00,-0.00,...,0.00,2.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
50%,3.60,2.00,14.50,14.00,11.40,11.10,11.50,11.10,12.00,0.00,...,0.00,3.00,0.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00
75%,6.70,3.00,36.00,32.00,22.40,20.70,23.00,21.20,26.00,0.02,...,1.00,5.00,1.00,1.00,4.00,1.00,1.00,1.00,0.00,0.00
max,99.90,5.00,1000.00,1000.00,336.10,301.80,286.00,309.80,401.00,1.87,...,28.00,16.00,10.00,8.00,15.00,9.00,7.00,66.00,15.00,23.00

## Fixing the format of some features:

In [9]:
df.date = pd.to_datetime(df.date, format='%Y'+'-'+'%m'+'-'+'%d')

#removes numbers from end of 'condition' strings
df['condition'] = df['condition'].str.replace('\d+', '')

#renaming 'condition' values so that they're uniform
df['condition'].replace(['HVY','AWT'], ['HEAVY','GOOD'], inplace=True) 
#AWT equates to a Good surface under some weather conditions

In [10]:
df['blinkers'] = df['blinkers'].astype('bool')
df['emergency'] = df['emergency'].astype('bool')

## Feature engineering and cleaning:

### Creating a track distance column from market_name:

In [11]:
new = df.market_name.str.split(expand=True)
df['distance'] = new[1].str.rstrip('m').astype(np.int64)

df['distance'].head()

0    1200
1    1200
2    1200
3    1200
4    1200
Name: distance, dtype: int64

### Creating general, track, distance, and condition-specific 'win percentage' and 'place percentage' columns:

In [12]:
#creates overall, track, and distance win_percent and place_percent columns
#and drops existing wins and places columns
columns_list = ['overall','track','distance']

for x in columns_list:
    df[x+'_win_percent'] = df[x+'_wins']/df[x+'_starts']
    
    df[x+'_place_percent'] = df[x+'_places']/df[x+'_starts']

In [13]:
#creates a condition_starts ,condition_win_percent, and condition_place_percent column
#for each horse according to the condition of the track for that race
df.loc[df.condition.isna(), 'condition_win_percent'] = np.nan
condition_list = ['firm','good','slow','soft','heavy']

for x in condition_list: 
    df.loc[df.condition.str.lower() == x, 'condition_starts'] = df[x+'_starts']
    df.loc[df.condition.str.lower() == x, 'condition_win_percent'] = df[x+'_wins']/df[x+'_starts']
    df.loc[df.condition.str.lower() == x, 'condition_place_percent'] = df[x+'_places']/df[x+'_starts']
    
# Replaces infinity (zero division) with NaN
df.replace([np.inf, -np.inf], np.nan, inplace=True)

### Splits last_twenty_starts column into 20 separate columns, replaces values, then drops last_twenty_starts:

In [14]:
new = pd.DataFrame()

for i in range(19,-1,-1):
    new[i] = df['last_twenty_starts'].str[i]
    df['last_start'+str(i+1)] = new[i].replace(['0','','x','f'],['ten+','none','scratch','fell'])
    
df.drop('last_twenty_starts',axis=1,inplace=True)

#### Most horse racing websites only have last 10 starts, so I remove starts data beyond that:

In [15]:
#drops last_start 11 through 20 to match information provided on racing websites
for i in range(10,20):
    df.drop('last_start'+str(i+1),axis=1,inplace=True)

#### Percentage of horses that have had at least 1 through 10 starts:

In [16]:
start_list = ['last_start'+str(i+1) for i in range(10)]
df[start_list].count()/len(df)*100

last_start1    83.92
last_start2    83.92
last_start3    80.58
last_start4    77.22
last_start5    73.91
last_start6    70.52
last_start7    67.26
last_start8    64.05
last_start9    61.01
last_start10   58.10
dtype: float64

### Reindexing the dataframe:

In [17]:
df.set_index(['date','venue_name','race_number','market_name'], inplace=True)
df.sort_index(level=['date','venue_name','race_number'], inplace=True)

### Cleaning data by removing races with missing win and/or place values in 'position_again' column:

In [18]:
#position_again unique values
df['position_again'].unique()

array([ 1.,  2.,  3., nan,  5.,  4.])

In [19]:
df_grouped = df.groupby(['date','venue_name','race_number','market_name'])

#Drops all races in 'position_again' column where sum of values [1st, 2nd, 3rd] don't add to 3 or 6
#i.e. 1+2 and 1+2+3
index_list1 = df_grouped['position_again'].sum().where(lambda x:(x == 3) | (x == 6)).dropna().index
df_cleaned = df[df.index.isin(index_list1)]

df_grouped = df_cleaned.groupby(['date','venue_name','race_number','market_name'])

#Eliminates 'position_again' races where there are duplicate finishes (e.g. 1+1+1) or just one 3rd-place finish
index_list2 = df_grouped['position_again'].value_counts(normalize=True,dropna=False)\
                .where(lambda x:x != 1).dropna().index.droplevel('position_again')
df_cleaned = df_cleaned[df_cleaned.index.isin(index_list2)]

df_grouped = df_cleaned.groupby(['date','venue_name','race_number','market_name'])

### Standardizing horses across each race:

#### Creating a prize_money_per_start column:

##### This may be one of the best indicators, as prize money is also an indicator of the difficulty of past races. Therefore, the value (meaningfulness) of past wins is taken into consideration.

In [20]:
#creates prize_money_per_start column
df_cleaned['prize_money_per_start'] = df_cleaned['prize_money']/df_cleaned['overall_starts']

#### Creating race-relative normalized features:

In [21]:
df_grouped = df_cleaned.groupby(['date','venue_name','race_number','market_name'])

In [22]:
scaler_cols = list(df_cleaned.select_dtypes('number').columns)
scaler_cols.remove('position_again')

In [23]:
min_max_scaler = (lambda x: (x - x.min(axis=0)) / (x.max(axis=0) - x.min(axis=0)) 
                  if x.max(axis=0) - x.min(axis=0) != 0 else np.nan)

In [24]:
for col in scaler_cols:
    df_cleaned[col+'_norm'] = df_grouped[col].transform(min_max_scaler)

In [25]:
#Replaces infinity (from zero division) with NaN
df_cleaned.replace([np.inf, -np.inf], np.nan, inplace=True)

df_cleaned.fillna(np.nan,inplace=True)

df_grouped = df_cleaned.groupby(['date','venue_name','race_number','market_name'])

df_cleaned.head()

                                                previous_margin  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn             6.80
                                  R3 1200m Mdn            20.80
                                  R3 1200m Mdn              NaN
                                  R3 1200m Mdn             4.00
                                  R3 1200m Mdn              NaN

                                                position_again  bf_odds  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn            1.00     2.88
                                  R3 1200m Mdn            2.00    15.00
                                  R3 1200m Mdn            3.00    95.00
                                  R3 1200m Mdn             NaN    20.00
                                  R3 1200m Mdn             NaN     2.74

                                                bf_odds_two_mins_out  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                  3.00
                                  R3 1200m Mdn                 18.00
                                  R3 1200m Mdn                100.00
                                  R3 1200m Mdn                 17.00
                                  R3 1200m Mdn                  2.68

                                                vic_tote  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn      2.30
                                  R3 1200m Mdn     11.20
                                  R3 1200m Mdn     46.40
                                  R3 1200m Mdn     13.20
                                  R3 1200m Mdn      2.60

                                                vic_tote_two_mins_out  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                   3.50
                                  R3 1200m Mdn                  11.70
                                  R3 1200m Mdn                  37.10
                                  R3 1200m Mdn                  14.20
                                  R3 1200m Mdn                   3.20

                                                nsw_tote  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn      2.40
                                  R3 1200m Mdn     12.00
                                  R3 1200m Mdn     40.40
                                  R3 1200m Mdn     11.80
                                  R3 1200m Mdn      3.40

                                                nsw_tote_two_mins_out  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                   3.30
                                  R3 1200m Mdn                  12.30
                                  R3 1200m Mdn                  35.00
                                  R3 1200m Mdn                  13.60
                                  R3 1200m Mdn                   3.60

                                                nsw_odds  betfair_slope  ...  \
date       venue_name race_number market_name                            ...
2016-06-27 Echuca     3           R3 1200m Mdn      2.60          -0.00  ...
                                  R3 1200m Mdn     11.00          -0.00  ...
                                  R3 1200m Mdn     51.00           0.21  ...
                                  R3 1200m Mdn     12.00           0.01  ...
                                  R3 1200m Mdn      2.60           0.00  ...

                                                overall_win_percent_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                       NaN
                                  R3 1200m Mdn                       NaN
                                  R3 1200m Mdn                       NaN
                                  R3 1200m Mdn                       NaN
                                  R3 1200m Mdn                       NaN

                                                overall_place_percent_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                        1.00
                                  R3 1200m Mdn                        0.20
                                  R3 1200m Mdn                        0.00
                                  R3 1200m Mdn                        0.00
                                  R3 1200m Mdn                        0.00

                                                track_win_percent_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                     NaN
                                  R3 1200m Mdn                     NaN
                                  R3 1200m Mdn                     NaN
                                  R3 1200m Mdn                     NaN
                                  R3 1200m Mdn                     NaN

                                               track_place_percent_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                      NaN
                                  R3 1200m Mdn                      NaN
                                  R3 1200m Mdn                      NaN
                                  R3 1200m Mdn                      NaN
                                  R3 1200m Mdn                      NaN

                                               distance_win_percent_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                       NaN
                                  R3 1200m Mdn                       NaN
                                  R3 1200m Mdn                       NaN
                                  R3 1200m Mdn                       NaN
                                  R3 1200m Mdn                       NaN

                                               distance_place_percent_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                        1.00
                                  R3 1200m Mdn                        1.00
                                  R3 1200m Mdn                        0.00
                                  R3 1200m Mdn                        0.00
                                  R3 1200m Mdn                        0.00

                                               condition_win_percent_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                        NaN
                                  R3 1200m Mdn                        NaN
                                  R3 1200m Mdn                        NaN
                                  R3 1200m Mdn                        NaN
                                  R3 1200m Mdn                        NaN

                                                condition_starts_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                   0.00
                                  R3 1200m Mdn                   0.33
                                  R3 1200m Mdn                   1.00
                                  R3 1200m Mdn                   0.00
                                  R3 1200m Mdn                   0.00

                                                condition_place_percent_norm  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                           NaN
                                  R3 1200m Mdn                           NaN
                                  R3 1200m Mdn                           NaN
                                  R3 1200m Mdn                           NaN
                                  R3 1200m Mdn                           NaN

                                                prize_money_per_start_norm
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn                        0.20
                                  R3 1200m Mdn                        0.47
                                  R3 1200m Mdn                        0.29
                                  R3 1200m Mdn                        0.11
                                  R3 1200m Mdn                        0.08

[5 rows x 188 columns]

### Cleaned Dataframe Details:

In [26]:
print('Shape (rows,columns):', df_cleaned.shape)
print('Number of uncleaned races in original dataframe:',len(df.groupby(['date','venue_name',
                                                                         'race_number','market_name'])))
print('Number of remaining cleaned races:',len(df_grouped))

Shape (rows,columns): (238331, 188)
Number of uncleaned races in original dataframe: 24457
Number of remaining cleaned races: 24173

### Features that are primarily NaN:

In [27]:
df_cleaned.isnull().sum().where(df_cleaned.isnull().sum() > .5 * df_cleaned.shape[0]).dropna()
# The position_again is primarily nan values because it only shows first and place.

position_again             169786.00
penalty_norm               238331.00
runs_since_spell_norm      238331.00
firm_starts_norm           128042.00
firm_wins_norm             198389.00
firm_places_norm           176606.00
heavy_wins_norm            128625.00
class_same_wins_norm       120453.00
class_stronger_wins_norm   134189.00
track_distance_wins_norm   128373.00
distance_norm              238331.00
track_win_percent_norm     146614.00
track_place_percent_norm   122103.00
dtype: float64

### Creating a new target feature that approximates the winnings of the horses that place:

In [28]:
# Created this function using horse racing website data
def place_odds_estimator(win_odds):
    place_odds = .212465 * win_odds + 1.01712
    return round(place_odds,2)

In [29]:
df_cleaned['bf_odds_place'] = place_odds_estimator(df_cleaned['bf_odds'])

In [30]:
conditions = [(df_cleaned['position_again'] == 1),
              (df_cleaned['position_again'] == 2) | (df_cleaned['position_again'] == 3)]

choices = [df_cleaned['bf_odds'], df_cleaned['bf_odds_place']]

df_cleaned['target'] = np.select(conditions, choices, default=0)

In [31]:
df_cleaned[['position_again','bf_odds','target']].head()

                                                position_again  bf_odds  \
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn            1.00     2.88
                                  R3 1200m Mdn            2.00    15.00
                                  R3 1200m Mdn            3.00    95.00
                                  R3 1200m Mdn             NaN    20.00
                                  R3 1200m Mdn             NaN     2.74

                                                target
date       venue_name race_number market_name
2016-06-27 Echuca     3           R3 1200m Mdn    2.88
                                  R3 1200m Mdn    4.20
                                  R3 1200m Mdn   21.20
                                  R3 1200m Mdn    0.00
                                  R3 1200m Mdn    0.00

## Exporting dataset:

In [32]:
df_cleaned.to_csv('CleanedHorses.csv')